<% content_for :head do %>
  <%= javascript_include_tag 'keepchart', 'facebook', 'twitter' %>
  <script>
  var labels = [];
  var values = [];
  <% if @myanswer %>
  <% @myanswer.titleandvalue.each do |a| %>
    labels.push('<%=a[:title]%>');
    values.push(<%=a[:value] * 100%>);
  <% end%>
  var shappy = <%=@myanswer.score%>;
<% end %>
</script>


    <style type="text/css"><!--
            .chart {
            position: relative;
            width: 320px;
            height: 300px;
            margin-bottom: 50px;
            }
            .overlay {
            position: absolute;
            width: 320px;
            height: 300px;
            z-index: 999;
            top: 0px;
            left: 0px;
            }

            #charts {
            max-width: 100%;
            margin: 0 auto;
            }

           --></style>
<% end %>
 <div id="fb-root"></div>
    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="inline" data-theme="f">
        <a href="/" data-icon="home" data-ajax="false">Top</a>
        <h1 data-theme="c">Happy Chart</h1>
        <a href="about" data-icon="gear" data-ajax="false">About</a>
  <div data-role="navbar">
    <ul>
      <li><a href="home" data-icon="check" data-ajax="false">アンケート</a></li>
      <!--            <li><a href="history.html" data-icon="star" data-ajax="false">私の歴史</a></li> -->
      <li><a href="chart" data-icon="star" class="ui-btn-active">私のハッピー</a></li>
      <li><a href="japan" data-icon="grid" data-ajax="false">みんなのハッピー</a></li>



    </ul>
  </div>
      </div>
      <center>
  <div class="chart">
    <div id="container0" style="width: 320px; height: 300px; margin: 0 auto; "></div>
    <%= image_tag('chart.png', :class=>"overlay", :alt=>"") %>
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hc.lisra.jp/mobile" data-text="みんなで幸せシェアしようne！" data-lang="ja" data-hashtags="HappyChart">HappyChartを ツイートする</a>
      </center>

      <div data-role="content" data-theme="b" style="clear:both">
          <button data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" onclick="dofacebook()" >Facebookに投稿する</button>
      <!--button data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" data-theme="e" onclick="tweet()" >Tweetする</button-->
  <a href="home" data-role="button" data-icon="arrow-l" data-iconpos="left" data-ajax="false" data-theme="d"  >やりなおす</a>
      </div>

    </div>
    <script>
      //    console.log("set load!");
      window.setTimeout(doit,1);
      window.setTimeout(graphtweet,1);
    </script>

