<% content_for :head do%>
  <%= javascript_include_tag 'diff.js' %>
  <script>
  var labels = [];
  var values1 = [];
  var values2 = [];
  <% @myanswer.each do |a| %>
    labels.push('<%=a[:title]%>');
    values1.push(<%=a[:value] * 100%>);
  <% end%>
  <% @panswer.each do |a| %>
    values2.push(<%=a[:value] * 100%>);
  <%end%>

  </script>
<% end %>

    <div data-role="page">
      <div data-role="header" data-position="inline" data-theme="b">
  <h1 data-theme="c">Happy Chart</h1>
  <div data-role="navbar" data-theme="b">
    <ul>
      <li><a href="home" data-icon="home"  data-ajax="false">ホーム</a></li>
<!--      <li><a href="history.html" data-icon="star" data-ajax="false">私の歴史</a></li> -->
      <li><a href="chart" data-icon="star" data-ajax="false">私のハッピー</a></li>
      <li><a href="japan" data-icon="grid" class="ui-btn-active"> みんなのハッピー</a></li>
    </ul>
  </div>
      </div>
    <div data-role="content" >
      <br>
      <div id="charts">
        <div class="chart"><div id="container0" style="width: 320px; height: 300px; margin: 0 auto; "></div><%=image_tag('chart.png', :class=>"overlay", :alt=>"") %></div>
        <div class="chart"><div id="container1" style="width: 320px; height: 300px; margin: 0 auto; "></div><%=image_tag('chart.png', :class=>"overlay", :alt=>"") %></div>
      </div>　
      <br>
      <center>

      </center>

      <button data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" onclick="gojapan()" data-theme="b">他の地域と比較する</button>

    </div>
