<% content_for :head do %>
  <%= javascript_include_tag 'keepchart.js' %>
  <%= javascript_include_tag 'facebook.js' %>
  <script>
  var labels = [];
  var values = [];
  <% if @myanswer %>
  <% @myanswer.titleandvalue.each do |a| %>
    labels.push('<%=a[:title]%>');
    values.push(<%=a[:value] * 100%>);
  <% end%>
  var shappy = <%=@myanswer.score%>;
  <% end %>
  </script>

    <style type="text/css"><!--
            .chart {
            position: relative;
            width: 320px;
            height: 300px;
            margin-bottom: 50px;
            }
            .overlay {
            position: absolute;
            width: 320px;
            height: 300px;
            z-index: 999;
            top: 0px;
            left: 0px;
            }

            #charts {
            max-width: 100%;
            margin: 0 auto;
            }

           --></style>

<% end %>
    <div id="fb-root"></div>
    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="inline" data-theme="f">
  <h1>Happy Chart</h1>
<!--  <div data-role="navbar">
    <ul>
      <li><a href="index.html" data-icon="home" data-ajax="false">ホーム</a></li>
     <li><a href="history.html" data-icon="star" data-ajax="false">私の歴史</a></li>
      <li><a href="chart.html" data-icon="star" class="ui-btn-active">私のハッピー</a></li>
      <li><a href="japan.html" data-icon="grid" data-ajax="false">みんなのハッピー</a></li>



    </ul>
  </div>
-->
      </div>
      <center>
  <div class="chart">
    <div id="container0" style="width: 320px; height: 300px; margin: 0 auto; "></div>
    <%= image_tag('chart.png', :class=>"overlay", :alt=>"") %>
  </div>
      </center>
    <div id="makeimage"></div>

      <div data-role="content" data-theme="b" style="clear:both">
  <button data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" onclick="dofacebook()">Facebookに投稿する</button>
  <a href="home" data-role="button" data-icon="arrow-l" data-iconpos="left" data-ajax="false" data-theme="d"  >やりなおす</a>
      </div>

    </div>
    <script>
      //    console.log("set load!");
      window.setTimeout(doit,1);
    </script>
