<% content_for :head do%>
<%= javascript_include_tag 'zipcloud.js' %>
<%= javascript_include_tag 'home.js' %>
<style>
.icon {
  width: 32px;
  height: 32px;
   vertical-align: middle;

}
.cap {
    font-size: 12pt;
    border-radius: 5px;
    display: inline-block;
    _display: inline;
    border: 1px;
    cursor: help;
    display: block;
    line-height: 1.5;
}

.cap .t {
    font-size: 16pt;
    display: inline-block;
    _display: inline;
}
.loading {
    background-color:#fdd;
}
.error-left {
    display: inline-block;
    float:left;
}
#ziperror {
    color: #e00;
}
</style>
<script>

    var totalNum = -1;
    NCMB.initialize("73b2578802b76e8f77c859075be4ecf681dfb4f9830f1fbad3ce3e06731b32cc", "f58c65a4d666960b25399a1f953257d3bd09fc164d15bee3055ce04a93387d83");

</script>
<% end %>
    <div data-role="page" data-theme="">
      <div data-role="header" data-position="inline" data-theme="b">
         <h1 data-theme="c">Happy Chart</h1>
        <div data-role="navbar" data-theme="b">
          <ul>
            <li><a href="home.html" data-icon="home" class="ui-btn-active">ホーム</a></li>
<!--            <li><a href="history.html" data-icon="star" data-ajax="false">私の歴史</a></li> -->
            <li><a href="chart.html" data-icon="star" data-ajax="false">私のハッピー</a></li>
            <li><a href="japan.html" data-icon="grid" data-ajax="false">みんなのハッピー</a></li>

          </ul>
        </div>
      </div>
      <div data-role="content" data-theme="c">

<div id="fbname"><h2>ようこそ Happy Chartへ</h2></div>
<div id="totalCount">
<h3>これは<%=@count + 1%>枚目のハッピーチャートです</h3>
</div>
<p>
          Happy Chart は、あなたの今のハッピー度を素敵な図に変換するだけでなく、
同じ世代や地域間などで、幸せ度を、簡単にで比較できるWebサービスです！
<br>
まずは、以下のアンケートに<strong>*真面目*</strong>にお答えください。
</p>

        <h2>アンケート</h2>

        <form action="makechart" method="get" data-ajax="false">
          <input type="hidden" name="hashid" value="" id="hashid"/>
          <input type="hidden" name="fbid" value="" id="fbid"/>
          <input type="hidden" name="zipcode" value="" id="zipcode"/>
          <input type="hidden" name="fbname" value="" id="fbname"/>
          <input type="hidden" name="formid" value="<%=@categories.first.form_id%>"/>
            <% @count = 1; @max = @categories.count %>
            <% @categories.each do |category| %>
            <div data-role="fieldcontain">
            <div class="cap">
              <!--
              <%= image_tag(category.icon_name, :class => "icon") %> （<%=@count%>問目/<%=@max%>問中）<div class="t"><%= category.title %></div><br/>
              -->
            </div>
              <% category.questions.each do |question| %>
                ・<%=question.title %>
              <fieldset data-role="controlgroup" data-type="horizontal"  align="center">
                <input type="radio" name="<%=question.field_name%>" id="<%=question.field_name%>-5" value="5" />
                <label for="<%=question.field_name%>-5">満足</label>
                <input type="radio" name="<%=question.field_name%>" id="<%=question.field_name%>-4" value="4" />
                <label for="<%=question.field_name%>-4">やや満足</label>
                <input type="radio" name="<%=question.field_name%>" id="<%=question.field_name%>-3" value="3" checked="checked"/>
                <label for="<%=question.field_name%>-3">普通</label>
                <input type="radio" name="<%=question.field_name%>" id="<%=question.field_name%>-2" value="2" />
                <label for="<%=question.field_name%>-2">やや不満</label>
                <input type="radio" name="<%=question.field_name%>" id="<%=question.field_name%>-1" value="1" />
                <label for="<%=question.field_name%>-1">不満</label>
              </fieldset>
              <% end %>
            <% @count += 1 %>
            <% end %>
          </div>
<h3>あと少しだけ！あなたについて教えてください<br>
よろしくお願いします。 </h3>
</div>

          <div data-role="fieldcontain" data-theme="a">
              <fieldset data-role="controlgroup" data-type="horizontal">
                <legend><%=image_tag("icon10.png", :class=>"icon") %>家庭環境</legend>
              <input type="radio" name="fam_choice" id="fam_choice-un" value="un" checked="checked" data-theme="a"/>
              <label for="fam_choice-un">未婚</label>
              <input type="radio" name="fam_choice" id="fam_choice-mn" value="mn" data-theme="a" />
              <label for="fam_choice-mn">既婚-子無</label>
              <input type="radio" name="fam_choice" id="fam_choice-mc" value="mc" data-theme="a" />
              <label for="fam_choice-mc">既婚-子有</label>

              </fieldset>
          </div>

          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup" data-type="horizontal" >
                <legend><%=image_tag("icon09.png", :class=>"icon") %>性別</legend>
              <input type="radio" name="sex" id="sex-male" value="male" checked="checked"  data-theme="a" />
              <label for="sex-male">男性</label>
              <input type="radio" name="sex" id="sex-female" value="female"  data-theme="a" />
              <label for="sex-female">女性</label>
              </fieldset>
          </div>

          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup" data-theme="a"/>
                <legend><%=image_tag("icon11.png", :class=>"icon")%>職業</legend>
                <% @job_types.each do |job_type| %>
                  <input type="radio" name="job_choice" id="job_choice-<%=job_type.id%>" value="<%=job_type.id%>" data-theme="b" />
                  <label for="job_choice-<%=job_type.id%>"><%=job_type.title%></label>
                <% end %>

              </fieldset>
          </div>

          <div data-role="fieldcontain">
            <label for="location"><%=image_tag("icon12.png", :class=>"icon")%>郵便番号(居住地）</label>
            <input type="text" name="location" id="location" value="" placeholder="999-9999" />
            <label for="ziperror" class="error-left ui-input-text">　</label><div id="ziperror">　</div>
                                     </div>
          <div data-role="fieldcontain">
            <label for="birthyear"><%=image_tag("icon13.png", :class=>"icon")%>生年(西暦):</label>
                  <input type="text" name="birthyear" id="birthyear" value="" placeholder="1900" />
                                        </div>

<h3> ありがとうございました。では、見てみましょう！</h3>


          <div data-role="content" data-theme="b" style="clear:both">
<!--          <div class="ui-body ui-body-b">
<!--            <fieldset class="ui-grid-a">-->
              <button type="submit" data-theme="d" data-ajax="false">提出！</button>
<!--              <button type="cancel" data-theme="a" data-ajax="false">キャンセル</button>
              </fieldset>-->
          </div>
        </form>



    </div>
<script>
  <% if @answer %>
    $(document).ready(function(){
        <% @answer.answer_details.each do |d|%>
          console.log($('#<%=d.question.field_name%>-<%=d.answer_rate%>'));
          // somehow this didn't work
          $("input:checkbox[id='<%=d.question.field_name%>-3']").prop("checked",false);
          $("input:checkbox[id='<%=d.question.field_name%>-<%=d.answer_rate%>']").prop("checked",true);
        <% end %>
        });

  <% end %>
</script>

