<% content_for :head do %>

<%= javascript_include_tag "dochart.js" %>

<style type="text/css"><!--
.chart {
  position: relative;
  width: 320px;
  height: 300px;
  margin-bottom: 50px;
}
.overlay {
  position: absolute;
  width: 320px;
  height: 300px;
  z-index: 999;
  top: 0px;
  left: 0px;
}

#charts {
  max-width: 100%;
  margin: 0 auto;
}

--></style>
<% end %>

    <div data-role="page" data-theme="b">
      <div data-role="header" data-position="inline" data-theme="f">
        <h1>Happy Chart</h1>
<!--        <div data-role="navbar">
          <ul>
            <li><a href="index.html" data-icon="home">ホーム</a></li>
            <li><a href="history.html" data-icon="star">私の歴史</a></li>
            <li><a href="chart.html" data-icon="star" class="ui-btn-active">チャート</a></li>
            <li><a href="s.html" data-icon="grid">みんなのハッピー</a></li>
            <li><a href="nav.html" data-icon="search">Nav</a></li>
            <li><a href="forms.html" data-icon="gear">Forms</a></li>

          </ul>
        </div>
-->
      </div>
<center>
  <div class="chart">
<div id="container0" style="width: 320px; height: 300px; margin: 0 auto; "></div>
<%=image_tag("chart.png", :class=>"overlay",:alt=>"") %>
  </div>

あなたのハッピー、どんな形でしたか？<br>
みんなに伝えたり、<br>
他の人のハッピーと比較してみましょう
</center>

        <div data-role="content" data-theme="b" style="clear:both">
          <a href="fbchart" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" >Facebookに投稿する</a>
          <a href="japan" data-role="button" data-icon="arrow-r" data-iconpos="right" data-ajax="false" data-theme="f" >他の地域と比較する</a>
          <a href="home" data-role="button" data-icon="arrow-l" data-iconpos="left" data-ajax="false" data-theme="d"  >やりなおす</a>
        </div>

    </div>
<script>
//    console.log("set load!");
    var label = [];
    var values = [];
    <% @answer.titleandvalue.each do |titleval|%>
    label.push('<%=titleval[:title]%>');
    values.push(<%=titleval[:value]%>);
    <% end %>
    var shappy = <%=@answer.score%>;
    var cookie_id = '<%=@answer.hashid%>';
    window.setTimeout(doit,1);
</script>
